{% extends 'base.html.twig' %}

{% block title %}Hello RocketsController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="album py-5 bg-light">
		<div class="container">
			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
				{% for rocket in data %}

					<div class="col">
						<div class="card shadow-sm">

							<div class="card-body">
								<img class="d-block mx-auto mb-4" src="{{ rocket.flickr_images[0] }}" alt="" width="250" height="250">


								<h5 class="card-title">{{ rocket.name }}</h5>


								<h6 class="card-subtitle mb-2 text-muted">Country :
									{{ rocket.country }}</h6>


								<p class="card-text">First flight:
									{{ rocket.first_flight }}</p>


								<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<a href="{{ path('app_rocket', {'id': rocket.id }) }}" class="btn btn-secondary" role="button" aria-pressed="true">View more ...</a>


									</div>

								</div>
							</div>
						</div>
					</div>

				{% endfor %}
			</div>
		</div>
	</div>


{% endblock %}
