{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<style>
		.company {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	</style>
	<div>
		<div class="px-4 py-5 my-5 text-center">
			<img class="d-block mx-auto mb-4" src="../../img/logo.jpg" alt="" width="500" height="400">


			<h3 class="display-5 fw-bold">Since
				{{ infoCompany.founded }}</h3>

			<div class="col-lg-6 mx-auto">
				<p class="lead mb-4">{{ infoCompany.summary }}</p>
				<h6>Founded by
					{{ infoCompany.founder }}</h6>


				<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
					<button type="button" class="btn btn-primary btn-lg px-4 gap-3">Number of employees :
						{{ infoCompany.employees }}</button>


					<button type="button" class="btn btn-outline-secondary btn-lg px-4">Valuation :
						{{ infoCompany.valuation }}
						$</button>


				</div>
			</div>
		</div>

	</div>
{% endblock %}
